
  <ul>
    <li *ngFor="let post of posts$ | async">
      <div class="card">
        <div class="card-body">
          <p class="id"><small>ID: {{ post.id }}</small></p>
          <p>{{ post.text }}</p>
          <a class="btn btn-danger btn-sm"  (click)="removePost(post.id)">Eliminar</a>
          <a class="btn btn-info btn-sm ml-1"  (click)="selectPost(post)">Editar</a>
        </div>
      </div>
    </li>
  </ul>
  <ng-container *ngIf="(posts$ | async).length == 0">
      <div class="alert alert-danger" >
        No hay Post.
      </div>
  </ng-container>
